@media all and (min-width: 1320px) {
  .extra-container {
    max-width: 1760px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }
}
@media all and (max-width: 1320px) {
  .construction-wrapper {
    background-position: left;
  }
}
@media all and (max-width: 1199px) {
  .construction-area {
    padding-top: 30px;
  }
  h1 {
    font-size: 55px;
  }
}

@media all and (max-width: 991px) {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  .flip-card-current {
    font-size: 32px;
    line-height: 30px;
  }
  .timer-label {
    font-size: 22px;
    line-height: 28px;
  }
  .construction-social {
    padding-top: 40px;
  }
  .small-shadow {
    border-left: 146px solid transparent;
    border-right: 123px solid transparent;
    border-top: 750px solid #2a87ff3b;
  }
  .timer-flip-header h3 {
    font-size: 38px;
  }
  .construction-logo a img {
    width: 185px;
  }
}

@media all and (max-width: 767px) {
  .construction-area {
    padding-top: 20px;
  }
  h1 {
    font-size: 37px;
    line-height: 40px;
  }
  p {
    font-size: 16px;
  }

  .timer-number {
    padding-bottom: 2px;
  }
  .timer-block::after {
    bottom: -21px;
  }
  .timer-block {
    border-radius: 8px;
    padding: 10px;
  }
  .timer-flip-header h3 {
    font-size: 32px;
    padding-bottom: 20px;
  }
  .small-shadow {
    transform: rotate(-17deg);
    border-left: 32px solid transparent;
    border-right: 62px solid transparent;
    border-top: 297px solid #2a87ff3b;
    top: 0;
    left: 20%;
  }
  .ecm-single-card:nth-child(4n + 3),
  .ecm-single-card:nth-child(4n + 4) {
    transform: translateX(0);
  }

  .ecm-card {
    padding: 30px 30px 50px 30px;
  }

  .ecm-card h3 {
    font-size: 28px;
    line-height: 36px;
  }

  .ecm-card p {
    font-size: 20px;
    line-height: 28px;
  }

  .ecm-head-text h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .ecm-head-text p {
    font-size: 16px;
    line-height: 24px;
  }
  .construction-description {
    padding-top: 20px;
    gap: 27px;
  }
  .construction-logo a img {
    width: 150px;
  }
}

@media all and (max-width: 575px) {
  .toplight {
    display: none;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
  .construction-wrapper {
    height: auto;
  }
  .timer-block {
    max-width: 120px;
    flex-shrink: 1;
  }
  .construction-description {
    gap: 2px;
  }
  .construction-area {
    padding-top: 10px;
  }
  .construction-text p {
    padding-top: 10px;
    padding-bottom: 7px;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .timer-blocks {
    padding-top: 20px;
  }
  .container {
    max-width: 94%;
    width: 100%;
    margin: auto;
  }
  .timer-flip-header h3 {
    font-size: 26px;
    line-height: 30px;
    padding-bottom: 5px;
  }
  .construction-description {
    padding-top: 5px;
    padding-bottom: 6px;
  }
  .construction-logo a img {
    width: 135px;
  }
}

@media all and (max-width: 450px) {
}
